<input type="checkbox" id="19c369b3-832d-42f1-89b2-651367f2f5ad" [(ngModel)]="is_blue" (change)="OnChange()">
<label for="19c369b3-832d-42f1-89b2-651367f2f5ad">Синие</label>
<br>
<input type="checkbox" id="0f5ca753-79bc-477f-acea-4d1da55c2711" [(ngModel)]="is_red" (change)="OnChange()">
<label for="0f5ca753-79bc-477f-acea-4d1da55c2711">Красные</label>
<br>
<input type="checkbox" id="54263263-c3d4-43f4-b06f-43234116f2ec" [(ngModel)]="is_yellow" (change)="OnChange()">
<label for="54263263-c3d4-43f4-b06f-43234116f2ec">Желтые</label>


